{{ define "main" }}
{{- $images := .Resources.ByType "image" }}
{{- $cover := $images.GetMatch (.Params.cover | default "*cover*") }}
{{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $cover }}
{{- $pdf := .Resources.GetMatch (.Params.pdf | default "*.pdf") }}
{{- $pptx := .Resources.GetMatch (.Params.pptx | default "*.pptx") }}
{{- $slide := .Resources.GetMatch (.Params.slide | default "*.html") }}
<article>
  <header class="max-w-full">
    {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
    {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title | emojify }}
    </h1>
    <div class="mt-8 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta.html" (dict "context" . "scope" "single") }}
    </div>
    <div class="prose mb-12 dark:prose-invert lg:flex-row">
      {{ with $slide }}
      <a class="not-prose  inline-block !rounded-md bg-primary-600 px-4 py-1 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
        href="{{ .RelPermalink }}" target="_blank" role="button">
        {{ with resources.Get "icons/slideshow.svg" }}
        <span class="relative inline-block align-text-bottom icon">
          {{ .Content | safeHTML }}
        </span>
        {{ end }}
        Slides
      </a>
      {{ end }}

      {{ with $pdf }}
      <a class="not-prose inline-block !rounded-md bg-primary-600 px-4 py-1 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
        href="{{ .RelPermalink }}" target="_blank" role="button">
        {{ with resources.Get "icons/pdf.svg" }}
        <span class="relative inline-block align-text-bottom icon">
          {{ .Content | safeHTML }}
        </span>
        {{ end }}
        PDF
      </a>
      {{ end }}

      {{ with $pptx }}
      <a class="not-prose inline-block !rounded-md bg-primary-600 px-4 py-1 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
        href="{{ .RelPermalink }}" target="_blank" role="button">
        {{ with resources.Get "icons/pptx.svg" }}
        <span class="relative inline-block align-text-bottom icon">
          {{ .Content | safeHTML }}
        </span>
        {{ end }}
        PPTX
      </a>
      {{ end }}
    </div>
  </header>
  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    {{ if and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default false)) (in
    .TableOfContents "<ul") }} <div class="order-first px-0 lg:order-last lg:max-w-xs lg:ps-8">
      <div class="toc pe-5 print:hidden lg:sticky lg:top-10">
        {{ partial "toc.html" . }}
      </div>
      </div>
      {{ end }}
      <div class="min-w-0 min-h-0 max-w-full grow">
        {{ .Content | emojify }}
      </div>
  </section>
  <footer class="pt-8 max-w-full print:hidden">
    {{ partial "author.html" . }}
    {{ partial "sharing-links.html" . }}
    {{ partial "article-pagination.html" . }}
    {{ if .Params.showComments | default (.Site.Params.article.showComments | default false) }}
    {{ if templates.Exists "partials/comments.html" }}
    <div class="pt-3">
      <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
      <div class="pt-3">
        {{ partial "comments.html" . }}
      </div>
    </div>
    {{ else }}
    {{ warnf "[CONGO] Comments are enabled for %s but no comments partial exists." .File.Path }}
    {{ end }}
    {{ end }}
  </footer>
</article>
{{ end }}
